<include src='layouts/main'>
  <arg pageContent>
    <article>
      <p>{content.hello}</p>
      <p>{content.picLabel}</p>
      <p><img src='{teddyPath}' alt=''></p>
      <a href='http://localhost:43711/testing'>\testing</a>
      <p>Testing link is the page to test multiple validator addition code</p>
      <a href='http://localhost:43711/test'>\test</a>
      <p>Test link is the link to test <a href='https://github.com/alallier/validator-test'></a> res.render validator trigger</p>
    </article>
  </arg>
</include>
