<include src='layouts/main'>
    <arg pageContent>
      <article>
        <p>{content.hello}</p>
        <p>{content.picLabel}</p>
        <p><img src='{teddyPath}' alt=''></p>
        <input onclick='RedirectToPartial()' type='submit' name='submit' value='partialException'>
        <input onclick='RedirectToTest()' type='submit' name='submit' value='partialException 2'>
        <p id='demo'></p>
        <script>
            function RedirectToPartial() {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (xhttp.readyState === 4) {
                        alert(xhttp.response);
                    }
                }
                xhttp.open('get', 'http://localhost:43711/partial', true);
                xhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
                xhttp.setRequestHeader('partial', true);
                xhttp.send();
            }

            function RedirectToTest() {
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4) {
                        alert(xhr.response);
                    }
                }
                xhr.open('get', 'http://localhost:43711/test', true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
                xhr.setRequestHeader('foo', 'true');
                xhr.send();
            }
          </script>
      </article>
    </arg>
  </include>